.collapse.jumbotron#show-address
  h3#address-description
  h2
    span#address-amount 0
    span SAT
    span.usd-aprox
  p.lead To proceed, make a Bitcoin payment to this address
  hr.my-4
  .qr-code.mb-3(align="center")
  hr.my-4
  h2.long-word#address-text(align="center")
