.collapse.error-box.jumbotron
  .image-container(align="center")
    img(src="/images/error.png")
  p.lead.error-msg.mt-5.font-weight-bold(align="center")
  p.lead.error-large-msg.mt-3(align="center")
  .error-list
    ol
  .go-home(align="center")
    a.btn.btn-lg.btn-primary.btn-block(href="/") Go to home
