.collapse.jumbotron#pay-invoice
  h3#invoice-description
  h2
    span#invoice-amount 0
    span SAT
    span.usd-aprox
  p.lead To proceed, make a Bitcoin Lightning Network payment with the following payment request.
  p.lead This invoice will expire in 60 minutes since it was created.
  hr.my-4
  .qr-code.mb-3(align="center")
  h6
    strong Payment request:
  p.long-word#invoice-text
